<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuantSpec - About</title>
    <h1>
        About QunatSpec
        <br>
        <p>
            QuantSpec is a stock viewing application that compiles data from major news sources in order to make 
            <br>
            educated predictions and interpretations on the direction the market is headed in order to help you 
            <br>
            in your investing needs.
        </p>
    </h1>
</head>
<body>

    
</body>
</html>